@if (DataContext.IsMultilanguageEnabled)
{
    <div class="@CssClass">@DataContext.Level @DataContext.GetTitle(DataContext.PrimaryLanguage) / @DataContext.GetTitle(DataContext.SecondaryLanguage)</div>
    @if (!string.IsNullOrEmpty(DataContext.ReferencedResource.GetDescription(DataContext.PrimaryLanguage))
         || !string.IsNullOrEmpty(DataContext.ReferencedResource.GetDescription(DataContext.SecondaryLanguage)))
    {
        <table width="100%">
            <tr>
                <td width="50%">
                    <div>@((MarkupString)DataContext.ReferencedResource.GetDescription(DataContext.PrimaryLanguage))</div>
                </td>
                <td width="50%">
                    <div>@((MarkupString)DataContext.ReferencedResource.GetDescription(DataContext.SecondaryLanguage))</div>
                </td>
            </tr>
        </table>
        
    }
}
else
{
    <div class="@CssClass">@DataContext.Level @DataContext.GetTitle(DataContext.PrimaryLanguage)</div>
    @if (!string.IsNullOrEmpty(DataContext.ReferencedResource.GetDescription(DataContext.PrimaryLanguage)))
    {
        <div>@((MarkupString)DataContext.ReferencedResource.GetDescription(DataContext.PrimaryLanguage))</div>
    }
}
