
@using MDD4All.UI.BlazorComponents.TabControl
@using MDD4All.UI.BlazorComponents.Tooltip
@using SpecIFicator.DefaultPlugin.BlazorComponents.Document
@using SplitJs.Blazor.Components
@using MDD4All.UI.BlazorComponents.Dialog
@if (HierarchyEditorViewModel != null)
{
    <div class="mainPanel">
        
        <MainToolBar HierarchyEditorViewModel="@DataContext.HierarchyEditorViewModel"></MainToolBar>

        <div class="editorPanel">
            <SplitZone Style="height:100%;">
                <Horizontal>
                    <Split MinSizePx="100">
                        @if (_treeType != null)
                        {
                            <CascadingValue Value="@DataContext">
                                <DynamicComponent Type="@_treeType"></DynamicComponent>
                            </CascadingValue>
                        }
                        else
                        {
                            <p>No matching tree view found!</p>
                        }
                    </Split>
                    <Split>
                        @if (_hierarchyViewType != null)
                        {
                            <CascadingValue Value="@DataContext">
                                <DynamicComponent Type="@_hierarchyViewType"></DynamicComponent>
                            </CascadingValue>
                        }
                        else
                        {
                            <h1>No matching hierarchy view found!</h1>
                        }
                    </Split>
                </Horizontal>
            </SplitZone>
        </div>
    </div>
    
}
else
{
    <h2>Loading...</h2>
}
