@using MDD4All.UI.BlazorComponents.TabControl
@using SpecIFicator.DefaultPlugin.BlazorComponents.Document
@using SpecIFicator.DefaultPlugin.BlazorComponents.Revision
@using SplitJs.Blazor.Components
<TabControl>
    <TabPage>
        <Header>
            <i class="bi bi-file-earmark-richtext"></i> @L["Label.DocumentTab"]
        </Header>
        <ChildContent>
            <div class="tabPanel">
                @if (_documentViewType != null)
                {
                    <CascadingValue Value="@DataContext">
                        <DynamicComponent Type="@_documentViewType"></DynamicComponent>
                    </CascadingValue>
                }
                else
                {
                    <h1>No matching document view found!</h1>
                }
            </div>
        </ChildContent>
    </TabPage>
    <TabPage>
        <Header>
            <i class="bi bi-card-text"></i> @L["Label.ResourceTab"]
        </Header>
        <ChildContent>
            <div class="tabPanel">
                @if (DataContext.HierarchyEditorViewModel.SelectedNode == null)
                {
                    <div class="noSelctionPanel">@L["Text.NoResourceSelected"]</div>
                }
                else
                {
                    @if (ResourceViewType != null)
                    {
                        <CascadingValue Value="@DataContext">
                            <DynamicComponent Type="@ResourceViewType"></DynamicComponent>
                        </CascadingValue>
                    }
                    else
                    {
                        <div class="noSelctionPanel">@L["Text.NoResourceViewerFound"]</div>
                    }
                }
            </div>
        </ChildContent>
    </TabPage>
    <TabPage>
        <Header>
            <i class="bi bi-file-diff"></i> Revisions
        </Header>
        <ChildContent>
            <div class="tabPanel">
            @if (DataContext.HierarchyEditorViewModel.SelectedNode == null)
            {
                <div class="noSelctionPanel">@L["Text.NoResourceSelected"]</div>
            }
            else
            {
                <ResourceRevisionView DataContext="@DataContext.HierarchyEditorViewModel.SelectedNode.ReferencedResource" />
            }
            </div>
        </ChildContent>
    </TabPage>
    <TabPage>
        <Header>
            <i class="bi bi-filetype-json"></i> @L["Label.RawViewTab"]
        </Header>
        <ChildContent>
            <div class="tabPanel">
                @if (_rawViewType != null)
                {
                    <CascadingValue Value="@DataContext">
                        <DynamicComponent Type="@_rawViewType"></DynamicComponent>
                    </CascadingValue>
                }
                else
                {
                    <div>No matching raw data viewer found.</div>
                }
            </div>
        </ChildContent>
    </TabPage>
    
</TabControl>




