@using MDD4All.UI.BlazorComponents.TabControl
@using SpecIFicator.DefaultPlugin.BlazorComponents.Document
@using SplitJs.Blazor.Components
<TabControl>
    <TabPage>
        <Header>
           <i class="bi bi-file-earmark-richtext"></i> @L["Label.DocumentTab"]
        </Header>
        <ChildContent>
            @if (_documentViewType != null)
            {
                <CascadingValue Value="@DataContext">
                    <DynamicComponent Type="@_documentViewType"></DynamicComponent>
                </CascadingValue>
            }
            else
            {
                <h1>No matching document view found!</h1>
            }

        </ChildContent>
    </TabPage>
    <TabPage>
        <Header>
            @L["Label.ResourceTab"]
        </Header>
        <ChildContent>

            @if (ResourceViewType != null)
            {
                <CascadingValue Value="@DataContext">
                    <DynamicComponent Type="@ResourceViewType"></DynamicComponent>
                </CascadingValue>
            }
            else
            {
                <div>No matching resource viewer found.</div>
            }
            
        </ChildContent>
    </TabPage>

</TabControl>




