@using MDD4All.UI.BlazorComponents.Ribbon
@using MDD4All.UI.BlazorComponents.Tooltip
@using MDD4All.UI.BlazorComponents.Dialog
<div class="toolbarPanel">
    <RibbonCategory>
        <RibbonPanel PanelTitle="@L["Label.NewResource"]">
            <div class="toolStackPanel">

                <ResourceClassSelector @bind-SelectedResourceClassKey="@HierarchyEditorViewModel.SelectedResourceClassKey"
                                       CssStyles="form-select form-select-sm"></ResourceClassSelector>

                <div class="p-1">
                    <Tooltip Text="@L["Tooltip.NewChildResource"]">
                        <button type="button"
                                class="btn btn-outline-primary"
                                @onclick="() => OnNewChildResourceClicked()">
                            <i class="bi bi-box-arrow-down-right"></i>
                        </button>
                    </Tooltip>
                    <Tooltip Text="@L["Tooltip.NewResourceBelow"]">
                        <button type="button"
                                class="btn btn-outline-info"
                                @onclick="() => OnNewResourceBelowClicked()">
                            <i class="bi bi-box-arrow-down"></i>
                        </button>
                    </Tooltip>
                    <Tooltip Text="@L["Tooltip.NewResourceAbove"]">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick="() => OnNewResourceAboveClicked()">
                            <i class="bi bi-box-arrow-up"></i>
                        </button>
                    </Tooltip>
                </div>
            </div>
        </RibbonPanel>
        <RibbonPanel PanelTitle="@L["Label.DeleteResource"]">
            <div class="toolStackPanel">
                <div>
                    <button type="button"
                            class="btn btn-outline-danger  btn-lg"
                            @onclick="() => OnDeleteResourceClicked()">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

        </RibbonPanel>
        <RibbonPanel PanelTitle="@L["Label.EditResource"]">
            <div class="toolStackPanel">
                <div>
                    <button type="button"
                            class="btn btn-outline-primary  btn-lg"
                            @onclick="() => OnEditResourceClicked()">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>

        </RibbonPanel>
    </RibbonCategory>
</div>
@if (HierarchyEditorViewModel.EditorActive)
{
    <ModalDialog Title="@L[HierarchyEditorViewModel.EditDialogTitleKey]"
             DialogType="ModalDialog.ModalDialogType.OkCancel"
             OnClose="@OnEditDialogClose">
        <ResourcePanel ResourceViewModel="@HierarchyEditorViewModel.ResourceUnderEdit" />
    </ModalDialog>
}
@if (HierarchyEditorViewModel.ShowDeleteConfirm)
{
    <ModalDialog Title="@L["Title.DeleteResource"]"
             DialogType="ModalDialog.ModalDialogType.DeleteCancel"
             OnClose="@OnDeleteDialogClose">
        <div>@L["Text.DeleteResource"]</div>
    </ModalDialog>
}
