<span>
                        @L["Label.Primary"]
                        <select class="form-select-sm"
                                @bind="DataContext.PrimaryLanguage">
                            @foreach (string language in DataContext.Languages)
        {
                    <option value="@language">@language</option>
        }
    </select>
    @L["Label.Secondary"]
                        <select class="form-select-sm" 
                                @bind="DataContext.SecondaryLanguage">
        @foreach (string language in DataContext.Languages)
        {
                    <option value="@language">@language</option>
        }
    </select>
                    </span>
