@using MDD4All.SpecIF.ViewModels
@using MDD4All.SpecIF.DataModels.Manipulation
<div id="@DataContext.HierarchyViewModel.ReferencedResource.Resource.ID">
    <table width="100%" style="border:solid;border-width:1px">
        <tr style="border:solid;border-width:1px">

            <td rowspan="2" style="border:solid;border-width:1px;width:10px;"></td>
            <td>
                <div>
                    <strong>
                        @DataContext.HierarchyViewModel.Level @((MarkupString)DataContext.HierarchyViewModel.ReferencedResource.Icon)
                        @DataContext.HierarchyViewModel.Title
                    </strong>
                </div>
            </td>
        </tr>
        <tr style="border:solid;border-width:1px">
           
            <td>
                <div>@((MarkupString)DataContext.HierarchyViewModel.ReferencedResource.Resource.GetPropertyValue("dcterms:description", DataContext.HierarchyViewModel.MetadataReader))</div>
            </td>
        </tr>

    </table>
</div>
