@using MDD4All.SpecIF.ViewModels
@using MDD4All.SpecIF.DataModels.Manipulation
<div id="@DataContext.HierarchyViewModel.ReferencedResource.Resource.ID">
    <table border="0" width="100%">
        <tr style="background-color:lightgray;">


            <td>
                <div>
                    <strong>
                        @DataContext.HierarchyViewModel.Level ANFORDERUNG: @DataContext.HierarchyViewModel.Title
                    </strong>(
                    <strong>ID:</strong> @DataContext.HierarchyViewModel.ReferencedResource.Resource.GetPropertyValue("dcterms:identifier", DataContext.HierarchyViewModel.MetadataReader),
                    <strong>Revision:</strong> @DataContext.HierarchyViewModel.ReferencedResource.Resource.Revision
                    )
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>@(DataContext.HierarchyViewModel.ReferencedResource.Resource.GetPropertyValue("dcterms:description", DataContext.HierarchyViewModel.MetadataReader))</div>
            </td>
        </tr>
        <tr>
            <td>
                <div><strong>Status:</strong> @DataContext.HierarchyViewModel.ReferencedResource.Status  □</div>

            </td>
        </tr>
    </table>
</div>
