@using SpecIFicator.DefaultPlugin.ViewModelExtensions;
@using Microsoft.AspNetCore.Components.Forms;

@if (DataContext.SelectedResource.ResourceClassID == "RC-TestStep")
{
    <div button-group="button" class="buttonGroup">
        <button type="button" @onclick="OnBackButtonClick"><i class="bi bi-arrow-left"></i></button>
        <button type="button" @onclick="OnNextButtonClick"><i class="bi bi-arrow-right"></i></button>
        <button type="button" @onclick="OnSaveButtonClick"><i class="bi bi-save"></i> Save</button>
    </div> <br />
 
    <h1 class="testStep">
        @DataContext.SelectedNode.Level
        <ResourceIcon Icon="@DataContext.SelectedNode.TestCaseIcon()" />
        @DataContext.SelectedNode.TestCaseTitle()

    </h1>

    <h1 class="testStep2">
        <ResourceIcon Icon="@DataContext.SelectedNode.ReferencedResource.Icon" />
        @DataContext.SelectedResource.Title
    </h1> <br />
   
    <h3 class="Description">Description:</h3>
    <p>
        @(
            (MarkupString)DataContext.SelectedResource.Description
            )
    </p><br />

    <h3 class="TestData">Test Data:</h3>
    <p>
        @(
            (MarkupString)DataContext.SelectedResource.TestData()
            )
    </p><br />

    <h3 class="Result">Expected Result:</h3>
    <p>
        @(
            (MarkupString)DataContext.SelectedResource.ExpectedResult()
            )
    </p><br />

    <EditForm Model="@DataContext">
        <h3><label class="verdict">Verdict</label></h3>
        <InputRadioGroup Name="VerdictRadioGroup" @bind-Value="@DataContext.Verdict">
            @foreach (KeyValuePair<string, string> keyValuePair in DataContext.VerdictValues)
            {
                <InputRadio Value="@keyValuePair.Key"
                    Name="VerdictRadioGroup" />
                <label for="None" class="form-label">@keyValuePair.Value </label>
                <span> </span>
            }
        </InputRadioGroup><br />

        <h3><label>Reason Message:</label></h3>
        <textarea @bind="DataContext.ReasonMessage"></textarea><br />
    </EditForm><br />
}
else if (DataContext.SelectedResource.ResourceClassID == "RC-TestCase")
{
     <div button-group="button" class="button">
        <button type="button" @onclick="OnBackButtonClick"><i class="bi bi-arrow-left"></i></button>
        <button type="button" @onclick="OnNextButtonClick"><i class="bi bi-arrow-right"></i></button>
    </div>
    <br />
    <h1 class="testcase">
        @DataContext.SelectedNode.Level
        <ResourceIcon Icon="@DataContext.SelectedNode.TestCaseIcon()" />
        @DataContext.SelectedNode.TestCaseTitle()
    </h1>
    <strong>
        <p>
            @(
                (MarkupString)DataContext.SelectedResource.Description
                )
        </p>
    </strong>
    <label>Test Result:</label>
}


