@using MDD4All.UI.BlazorComponents.Dialog
@using SpecIFicator.DefaultPlugin.ViewModels;

@if (DataContext.ShowNewTestSuite == false)
{
    <div class="page">

        <h3>@L["Label.SelectTestCases"]</h3>
    
        <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-primary btn-sm" @onclick="OnOkButtonClick">
                @L["Button.OK"]
            </button>

            <button type="button" class="btn btn-secondary btn-sm" @onclick="OnCancelButtonClick">
                @L["Button.Cancel"]
            </button>
        </div>
        <div style="margin-top:10px;">
            <TestSuiteSelectionTree DataContext="@DataContext" />
        </div>
        

        
    </div>

}
else
{
    <ModalDialog OnClose="@OnNewTestSuiteClose"
                 DialogType="ModalDialog.ModalDialogType.OkCancel"
                 Title=@L["Label.NewTestsuite"]>

        <ResourcePanel ResourceViewModel="@DataContext.TestSuiteUnderEdit" />

    </ModalDialog>
}


