<div id="@HierarchyViewModel.ReferencedResource.Resource.ID">
    <table border="0" width="100%">
        <tr style="background-color:lightgray;">


            <td>
                <div>
                    <strong>
                        @HierarchyViewModel.Level ANFORDERUNG: @HierarchyViewModel.Title
                    </strong>(
                    <strong>ID:</strong> @HierarchyViewModel.ReferencedResource.Resource.GetPropertyValue("dcterms:identifier", HierarchyViewModel.MetadataReader), 
                    <strong>Revision:</strong> @HierarchyViewModel.ReferencedResource.Resource.Revision
                    )
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>@(HierarchyViewModel.ReferencedResource.Resource.GetPropertyValue("dcterms:description", HierarchyViewModel.MetadataReader))</div>
            </td>
        </tr>
        <tr>
            <td>
                <div><strong>Status:</strong> @HierarchyViewModel.ReferencedResource.Status  □</div>

            </td>
        </tr>
    </table>
</div>
